#main{
    width: 20px;
    height: 20px;
    background: red;
    float: left;
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}